<!DOCTYPE html>
<html>

<head>
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="./content/css/home.css">
</head>

<body>
<div class="survey-says-logo">
    <img src="./content/photos/SurveySaysLogo.png" alt="Survey Says Logo">
</div>
<table class="homepage-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Active Surveys</th>
        <th>Expires At</th>
        <th>Take the Survey</th>
    </tr>
    </thead>
    <tbody>
    <% for(let count=0; count < survey.length; count++) { %>
        <tr>
            <td>
                <%= count+1 %>
            </td>
            <td>
                <%= survey[count].topic%>
            </td>
            <td>
                <%= survey[count].endsAt%>
            </td>
            <td> <a class="btn btn-primary" href="/answers-add/<%= survey[count].id %>">Take Survey</a></td>
        </tr>
    <% } %>
    </tbody>
</table>
</body>

</html>