<!DOCTYPE html>
<html>
<head>
    <title>Operate Home Page</title>
    <link rel="stylesheet" type="text/css" href="./content/style.css">
</head>

<body>

<div class="survey-container">
    <div class="survey-row survey-row-1">
        <div class="survey-question">
            <h3 class="survey-heading">Take an education survey.</h3>
            <button class="survey-button" type="button" onclick="location.href='/survey'">Take the survey</button>
        </div>
    </div>
    <div class="survey-row survey-row-2">
        <div class="survey-question">
            <h3 class="survey-heading">Take a car survey.</h3>
            <button class="survey-button" type="button" onclick="location.href='/survey'">Take the survey</button>
        </div>
    </div>
    <div class="survey-row survey-row-3">
        <div class="survey-question">
            <h3 class="survey-heading">Take a sports survey.</h3>
            <button class="survey-button" type="button" onclick="location.href='/survey'">Take the survey</button>
        </div>
    </div>
    <div class="survey-row survey-row-4">
        <div class="survey-question">
            <h3 class="survey-heading">Take a diet survey.</h3>
            <button class="survey-button" type="button" onclick="location.href='/survey'">Take the survey</button>
        </div>
    </div>
    <div class="survey-row survey-row-5">
        <div class="survey-question">
            <h3 class="survey-heading">Take a shopping survey.</h3>
            <button class="survey-button" type="button" onclick="location.href='/survey'">Take the survey</button>
        </div>
    </div>
</div>
</body>

</html>
