<!DOCTYPE html>
<html>

<head>
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" href="./content/style.css">
</head>

<body>

    <div class="survey-container">
        <% if(survey.length === 0) { %>
            <div class="survey-row" style="background-color: <%=randomRGB()%>;">
                <div class="survey-question">
                    <h3 class="survey-heading">Sorry. There are no active surveys at this time. Please return later.</h3>
                </div>
            </div>
            <% } else { %>
        <% for(let count=0; count < survey.length; count++) { %>
        <div class="survey-row" style="background-color: <%=randomRGB()%>;">
            <div class="survey-question">
                <h3 class="survey-heading"><%= survey[count].topic%></h3>
                <a class="btn btn-primary" href="/answers-add/<%= survey[count].id %>">
                    Take the Survey
                </a>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
</body>
</html>