<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table {
            border:1px solid #b3adad;
            border-collapse:collapse;
            padding:5px;
        }
        table th {
            border:1px solid #b3adad;
            padding:5px;
            background: #f0f0f0;
            color: #313030;
        }
        table td {
            border:1px solid #b3adad;
            text-align:center;
            padding:5px;
            background: #ffffff;
            color: #313030;
        }
    </style>
</head>
<body>
    <button onclick="window.print()">Print Results</button>
<table>
    <% for(let count=0; count < answers.length; count++) { %>
    <thead>
    <tr>
        <th>Topic</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><%= answers[count].topic%></td>
    </tr>
    <tr>
        <th><%= answers[count].question1%></th>
    </tr>
    <tr>
        <td><%= answers[count].answer1%></td>
    </tr>
    <td class="text-center col-1">
        <a class="btn btn-warning" href="/results-delete/<%= answers[count].id %>">
            Delete
        </a>
    </td>
    </tbody>
        <% } %>
</table>
</body>
</html>