<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><% title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        body {
            background-color: #f0f0f0;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 800px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background-color: white;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ccc;
        }
        th {
            background-color: #f0f0f0;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<h2>Survey Results</h2>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Reason</th>
    </tr>
    <% surveys.forEach(survey => { %>
        <tr>
            <td><%= survey.question %></td>
            <td><%= survey.answer %></td>
            <td><%= survey.reason || 'N/A' %></td>
        </tr>
    <% }) %>
</table>
<br>
<button type="button" onclick="location.href='/survey'">Back to survey</button>
</body>
</html>
